<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contacto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contacto</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Nombre Completo:</ion-card-subtitle>
        <ion-card-title>Erick David Bolaños Guerrero</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-align-items-center">
              <ion-row>
                Correo:
              </ion-row>
              <ion-row>
                Teléfono móvil:
              </ion-row>
              <ion-row>
                Teléfono convencional:
              </ion-row>
              <ion-row>
                Skype:
              </ion-row>
              <ion-row>
                Dirección:
              </ion-row>              
            </ion-col>
            <ion-col class="ion-align-items-center">
              <ion-row>
                erickdbg96@gmail.com
              </ion-row>
              <ion-row>
                0998938539
              </ion-row>
              <ion-row>
                (02) 3151860
              </ion-row>
              <ion-row>
                David Bolaos
              </ion-row>
              <ion-row>
                Calle García Moreno y Pasaje N11C, Oe5-35
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Redes Sociales
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
      </ion-card-content>
    </ion-card>
  </ion-content>
  
</ion-content>
