<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contacto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contacto</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Nombre Completo:</ion-card-subtitle>
        <ion-card-title>Erick David Bolaños Guerrero</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-align-items-center">
              <ion-row>
                <b>Correo:</b> 
              </ion-row>
              <ion-row>
                <b>Teléfono móvil:</b>
              </ion-row>
              <ion-row>
                <b>Teléfono convencional:</b>
              </ion-row>
              <ion-row>
                <b>Skype:</b>
              </ion-row>
              <ion-row>
                <b>Dirección:</b>
              </ion-row>              
            </ion-col>
            <ion-col class="ion-align-items-center">
              <ion-row>
                <ion-icon name="logo-google" color="danger"></ion-icon>
                erickdbg96@gmail.com 
              </ion-row>
              <ion-row>
                <ion-icon name="logo-whatsapp" color="success"></ion-icon>
                0998938539 
              </ion-row>
              <ion-row>
                <ion-icon name="call-outline" color="dark"></ion-icon>
                (02) 3151860 
              </ion-row>
              <ion-row>
                <ion-icon name="logo-skype" color="primary"></ion-icon>
                David Bolaos
              </ion-row>
              <ion-row>
                <ion-icon name="location-outline" color="warning"></ion-icon>
                Calle García Moreno y Pasaje N11C, Oe5-35 
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Redes Sociales
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            
            <ion-chip>
              <ion-icon name="logo-google" color="danger"></ion-icon>
              <ion-label>erickdbg96@gmail.com</ion-label> 
            </ion-chip>
            
            <ion-chip>
              <ion-icon name="logo-linkedin" color="primary"></ion-icon>
              <ion-label>in/erick-david-bolanos-guerrero-635a28175</ion-label> 
            </ion-chip>
            
            <ion-chip>
              <ion-icon name="logo-github" color="dark"></ion-icon>
              <ion-label>EddRick96</ion-label> 
            </ion-chip>

          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-content>
  
</ion-content>
